 .margin{
                margin-top: 20px;
            }
            .centre{
                text-align: center;
            }
            #signup{
                display: none;
            }
            
            .container{
                text-align: center;
                margin-top: 160px;
                width: 400px;
            }